.spinner {
    --color-1: #f7f7f7;
    --color-2: #6d7b75;

    width: 72px;
    height: 72px;
    border: 5px solid var(--color-1);
    border-bottom-color: var(--color-2);
    border-radius: 50%;

    display: inline-block;
    box-sizing: border-box;

    animation: spinnerRotation 1s linear infinite;
}

@keyframes spinnerRotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.info {
    width: 351px;
    height: 96px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 32px;
    text-align: center;
}

.title {
    font-weight: 600;
    line-height: 1.3;
    color: #101828;

    margin: 0 0 16px;
}

.text {
    font-weight: 500;
    line-height: 1.5;
    color: #101828;

    margin: 0;
}
.loader {
    border-radius: 16px;
    background: #fff;

    width: 543px;
    height: 296px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 48px;
}