
.catalogPage{
    padding: 63px 48px 64px 52px;
}
    .cardsList {
            display: flex;
            flex-direction: column;
            gap: 32px;

            width: 100%;
        }

.catalogPage {
    display: grid;
    grid-template-columns: 360px 1fr;
    gap: 65px;
}