
.catalogPage {
    max-width: 1440px;
    margin: 0 auto;
    padding: 63px 48px 64px 52px;

    display: grid;
    grid-template-columns: 360px 888px;
    gap: 65px;
}
        .cardsList {
            display: flex;
            flex-direction: column;
            gap: 32px;
            width: 888px;
        }

.catalogPage {
    display: grid;
    grid-template-columns: 360px 1fr;
    gap: 65px;
}
.loadMoreWrapper {
    width: 888px;
    display: flex;
    justify-content: center;
}